fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
email-validator
fastapi-mail
python-dotenv
scikit-learn
joblib
numpy
mlflow-skinny
psycopg2-binary
prometheus-fastapi-instrumentator
apscheduler
pytz
